.index_main_container {
  width: 100%;
  height: 100vh;
  background-color: blue;
  position: relative;
}

.index_main_container_child_image_div1 {
  width: 250px;
  height: 180px;
  background-color: green;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(10deg);
  background-image: url("../assests/image1.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0;
}

.index_main_container_child_image_div2 {
  width: 250px;
  height: 180px;
  background-color: green;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-10deg);
  background-image: url("../assests/image2.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0;
}

.index_main_container_child_image_div3 {
  width: 250px;
  height: 180px;
  background-color: green;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(20deg);
  background-image: url("../assests/image3.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0;
}

.index_main_container_child_image_div4 {
  width: 250px;
  height: 180px;
  background-color: green;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-20deg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0;
  background-color: red;
}

.index_main_container_child_loadernumber {
  font-size: 22px;
  font-weight: 600;
  color: white;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poppins";
  opacity: 1;
}

.index_main_container_child_loader_div {
  width: 0%;
  height: 10px;
  background-color: black;
  position: absolute;
  top: 99%;
  left: 0%;
  border-radius: 10px;
}

/* -------------------------------------------------------------------------------------------------------------------------------- */

.index_main_container_child_image_div4_heading_div {
  color: white;
  opacity: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  transition: all 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index_main_container_child_image_div4_heading_div > h1:nth-child(1) {
  opacity: 0;
  font-size: 3vw;
  font-weight: 600;
  font-family: "Poppins";
}

.index_main_container_child_image_div4_heading_div > h1:nth-child(2) {
  opacity: 0;
  font-size: 2vw;
  font-weight: 600;
  font-family: "Poppins";
}

.index_main_container_child_image_div4_heading_div > p {
  opacity: 0;
  width: 60%;
  text-align: center;
  font-size: 1vw;
  font-family: "Poppins";
}

.index_main_container_child_image_div4_heading_div > button {
  opacity: 0;
  text-align: center;
  font-size: 0.7vw;
  font-family: "Poppins";
  border-radius: 10px;
  border: none;
  background-color: white;
  color: black;
  padding: 10px 40px;
  margin-top: 12px;
}

.index_main_container_child_image_div4_heading_div_span{
    font-size: 5vw;
    font-weight: 600;
    font-family: "Poppins";
    transition: all 1s ease;
    opacity: 0;
    animation: span_animation 1s ease infinite 1s;
    margin-top: 20px;
}




@keyframes span_animation {
  0%{
    transform: translateY(20px);
  }
  100%{
    transform: translateY(0px);
  }
}



.Home_main_container {
  width: 100%;
  height: 100vh;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;  
}


[data-scroll-container] {
  position: relative;
  height: 100%;
}

[data-scroll-section] {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index-hero {
  height: 100vh;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 100px;
  overflow: hidden;
  position: relative;
}

.hero-content-box{
  width: 40%;
  display: flex;
  flex-direction: column;
  background-color: red;
}

.profile_image{
  width: 30%;
  height: 75%;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  visibility: hidden;
}
.img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1;
}

.profile_image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 0;
}


.dividediv{
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.dividediv>p:nth-child(1){
  width: 40%;
}

.socialdiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px
}

.index-main {
  width: 100%;
  pad: 20px;
  height: 100vh;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* ------------------------------------------------------------------- */

.Projects_container{
  width: 100%;
  height: 100%;
  background-color: purple;
  display: flex;
}

.Projects_Leftcontainer{
  width: 25%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 40px;
}




.Projects_Leftcontainer>h3{
  color: white;
}

.Projects_Leftcontainer>p{
  text-align: left;
  width: 75%;
  color: white;
}

.Projects_Leftcontainer>span{
  text-align: left;
  font-size: 30px;
  width: 75%;
  color: white;
}

.Projects_rightcontainer {
  width: 75%;
  height: 100%;
  background-color: red;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap; 
  overflow-y: hidden;
  overflow-x: auto;
  scroll-behavior: smooth; /* Smooth scrolling */
}

.Projects_box {
  min-width: 35%; /* Ensures each box has a minimum width for horizontal scroll */
  height: 55%;
  background-color: orange;
  border-radius: 10px;
  margin: 0px 50px; /* Space between boxes */
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Projects_box:hover {
  transform: scale3d(1.1, 1.1, 1.1);
}

/* Optional: Customize the scrollbar */
.Projects_rightcontainer::-webkit-scrollbar {
  height: 8px;
}

.Projects_rightcontainer::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.Projects_rightcontainer::-webkit-scrollbar-track {
  background: #f1f1f1;
}


/* -*--------------------------------------------------------Certificates */
.Certificates_container {
  width: 100%;
  height: 100%;
  background-color: purple;
  display: flex;
}

.Certificates_Leftcontainer {
  width: 25%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 40px;
}

.Certificates_Leftcontainer > h3 {
  color: white;
}

.Certificates_Leftcontainer > p {
  text-align: left;
  width: 75%;
  color: white;
}

.Certificates_Leftcontainer > span {
  text-align: left;
  font-size: 30px;
  width: 75%;
  color: white;
}

.Certificates_rightcontainer {
  width: 75%;
  height: 100%;
  background-color: red;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  direction: rtl;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.Certificates_box {
  min-width: 35%;
  height: 55%;
  background-color: orange;
  border-radius: 10px;
  margin: 0px 50px;
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Certificates_box:hover {
  transform: scale3d(1.1, 1.1, 1.1);
}

/* Optional: Customize the scrollbar */
.Certificates_rightcontainer::-webkit-scrollbar {
  height: 8px;
}

.Certificates_rightcontainer::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.Certificates_rightcontainer::-webkit-scrollbar-track {
  background: #f1f1f1;
}


/* --------------------------------------------------------------ExperienceCont_container */


.ExperienceCont_container{
  width: 100%;
  height: 100%;
  background-color: yellow;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.ExperienceCont_Left{
  width: 35%;
  height: 100%;
  background-color: black;
}

.ExperienceCont_CenterLine{
  padding: 4px;
  height: 100%;
  background-color: blue;
  border-radius: 10px;
}

.ExperienceCont_Right{
  width: 35%;
  height: 100%;
  background-color: aqua;
}